.App {
  font-family: sans-serif;
}

.parent {
  background-color: darkgoldenrod;
  display: flex;
}

.child1 {
  width: 150px;
  height: 50px;
  background-color: red;
}

.child2 {
  width: 150px;
  height: 50px;
  background-color: blue;
}

.child0 {
  background-color: green;
}

.expanded {
  width: 300px;
}

.collapsed {
  width: 100px;
}
